<div class="users-container">
  <div class="header">
    <h1>Benutzerverwaltung {{users().length}}</h1>
  </div>

  @if (isLoading()) {
    <div class="loading">Laden...</div>
  } @else {
    <div class="users-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users(); track user.id) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.firstname}}</td>
              <td>{{ user.email }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3" class="empty">Keine Benutzer gefunden</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
